.modalBackdrop {
width:100vw;
height: 100vh;
position: fixed;
background-color: rgba(50, 50, 50, 0.9);
}
.modalContent {
background: #fff;
padding: 1rem;
max-width: 1280px;
width: 90%;
max-height: 700px;
height: 90%;
position: fixed;
left: 50%;
transform: translateX(-50%);
top: 10%;
overflow-y: auto;
color: #000;
border-radius: .5rem;
z-index: 9999;
}